<!-- <div class="d-flex m-5 p-3">
  <div>
    <button class="btn btn-primary btn-sm" (click)="changeCounter(steps)">
      +1
    </button>
  </div>
  <div class="ms-3 me-3">
    <small>{{ counter }}</small>
  </div>
  <div>
    <button class="btn btn-dark btn-sm" (click)="changeCounter(-steps)">-1</button>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col">
      <app-list></app-list>
    </div>
    <div class="col">
      <app-add-heroe></app-add-heroe>
    </div>
  </div>
</div>
